# youtube_datasetを用いた分析練習

## データ、及び必要な機能のインポート

In [25]:
import pandas as pd
import numpy as np
import gzip
#import pandas_profiling as pdp
from IPython.display import display
import dask.dataframe as dd
import time
from datetime import datetime
import math
from collections import Counter

In [4]:
yt_train = pd.read_csv('yt_bb_classification_train.csv.gz', compression="gzip",names=('youtube_id','timestamp_ms','class_id','class_name','object_presence'))
print(yt_train.shape)
display(yt_train)
display(yt_train.describe())
#print("ユーザー数=", len(df_members["msno"].unique()))

(8146143, 5)

          youtube_id  timestamp_ms  class_id  class_name object_presence
0        AAADSgKurQY         13000        19         dog         present
1        AAADSgKurQY         14000        19         dog         present
2        AAADSgKurQY         15000        19         dog         present
3        AAADSgKurQY         16000        19         dog         present
4        AAADSgKurQY         17000        19         dog         present
5        AAADSgKurQY         18000        19         dog         present
6        AAADSgKurQY         19000        19         dog         present
7        AAADSgKurQY         20000        19         dog         present
8        AAADSgKurQY         21000        19         dog         present
9        AAADSgKurQY         22000        19         dog         present
10       AAADSgKurQY         23000        19         dog         present
11       AAADSgKurQY         24000        19         dog         present
12       AAADSgKurQY         25000        19         dog         present
13       AAADSgKurQY         26000        19         dog         present
14       AAADSgKurQY         27000        19         dog         present
15       AAADSgKurQY         28000        19         dog         present
16       AAADSgKurQY         29000        19         dog         present
17       AAADSgKurQY         30000        19         dog         present
18       AAADSgKurQY         31000        19         dog         present
19       AAAxhIkQv9U        133000        12       knife         present
20       AAAxhIkQv9U        134000        12       knife         present
21       AAAxhIkQv9U        135000        12       knife         present
22       AAAxhIkQv9U        136000        12       knife         present
23       AAAxhIkQv9U        137000        12       knife         present
24       AAAxhIkQv9U        138000        12       knife         present
25       AAAxhIkQv9U        139000        12       knife         present
26       AAAxhIkQv9U        140000        12       knife         present
27       AAAxhIkQv9U        141000        12       knife         present
28       AAAxhIkQv9U        142000        12       knife         present
29       AAAxhIkQv9U        143000        12       knife         present
...              ...           ...       ...         ...             ...
8146113  __909tIOxbc          6000         0      person         present
8146114  __909tIOxbc          7000         0      person         present
8146115  __909tIOxbc          8000         0      person         present
8146116  __909tIOxbc          9000         0      person         present
8146117  __909tIOxbc         10000         0      person         present
8146118  __909tIOxbc         11000         0      person         present
8146119  __909tIOxbc         12000         0      person         present
8146120  __909tIOxbc         13000         0      person         present
8146121  __909tIOxbc         14000         0      person         present
8146122  __909tIOxbc         15000         0      person         present
8146123  __909tIOxbc         16000         0      person         present
8146124  ___6sYbq9IE         28000        14  skateboard         present
8146125  ___6sYbq9IE         29000        14  skateboard         present
8146126  ___6sYbq9IE         30000        14  skateboard         present
8146127  ___6sYbq9IE         31000        14  skateboard         present
8146128  ___6sYbq9IE         32000        14  skateboard         present
8146129  ___6sYbq9IE         33000        14  skateboard         present
8146130  ___6sYbq9IE         34000        14  skateboard         present
8146131  ___6sYbq9IE         35000        14  skateboard         present
8146132  ___6sYbq9IE         36000        14  skateboard         present
8146133  ___6sYbq9IE         37000        14  skateboard         present
8146134  ___6sYbq9IE         38000        14  skateboard         present
8146135  ___6sYbq9IE         39000        14  skateboard         present
8146136  ___6sYbq9IE         40000        14  skateboard         present
8146137  ___6sYbq9IE         41000        14  skateboard          absent
8146138  ___6sYbq9IE         42000        14  skateboard         present
8146139  ___6sYbq9IE         43000        14  skateboard         present
8146140  ___6sYbq9IE         44000        14  skateboard          absent
8146141  ___6sYbq9IE         45000        14  skateboard          absent
8146142  ___6sYbq9IE         46000        14  skateboard          absent

[8146143 rows x 5 columns]

       timestamp_ms      class_id
count  8.146143e+06  8.146143e+06
mean   1.437211e+05  8.929339e+00
std    2.126356e+05  7.062860e+00
min    0.000000e+00  0.000000e+00
25%    2.900000e+04  2.000000e+00
50%    7.600000e+04  8.000000e+00
75%    1.800000e+05  1.400000e+01
max    3.586000e+06  2.300000e+01

In [5]:
yt_validation = pd.read_csv('yt_bb_classification_validation.csv.gz', compression="gzip",names=('youtube_id','timestamp_ms','class_id','class_name','object_presence'))
print(yt_validation.shape)
display(yt_validation)
display(yt_validation.describe())

(1013246, 5)

          youtube_id  timestamp_ms  class_id class_name object_presence
0        AACebVo-JXY        283000         3       boat         present
1        AACebVo-JXY        284000         3       boat         present
2        AACebVo-JXY        285000         3       boat         present
3        AACebVo-JXY        286000         3       boat         present
4        AACebVo-JXY        287000         3       boat         present
5        AACebVo-JXY        288000         3       boat         present
6        AACebVo-JXY        289000         3       boat         present
7        AACebVo-JXY        290000         3       boat         present
8        AACebVo-JXY        291000         3       boat         present
9        AACebVo-JXY        292000         3       boat         present
10       AACebVo-JXY        293000         3       boat         present
11       AACebVo-JXY        294000         3       boat         present
12       AACebVo-JXY        295000         3       boat         present
13       AACebVo-JXY        296000         3       boat         present
14       AACebVo-JXY        297000         3       boat         present
15       AACebVo-JXY        298000         3       boat         present
16       AACebVo-JXY        299000         3       boat         present
17       AACebVo-JXY        300000         3       boat         present
18       AACebVo-JXY        301000         3       boat         present
19       AAFuGMkVYMA         28000         0     person         present
20       AAFuGMkVYMA         29000         0     person         present
21       AAFuGMkVYMA         30000         0     person         present
22       AAFuGMkVYMA         31000         0     person         present
23       AAFuGMkVYMA         32000         0     person         present
24       AAFuGMkVYMA         33000         0     person         present
25       AAFuGMkVYMA         34000         0     person         present
26       AAFuGMkVYMA         35000         0     person         present
27       AAFuGMkVYMA         36000         0     person         present
28       AAFuGMkVYMA         37000         0     person         present
29       AAFuGMkVYMA         38000         0     person         present
...              ...           ...       ...        ...             ...
1013216  __fvuuMoEpA         21000         7        cat         present
1013217  __fvuuMoEpA         22000         7        cat         present
1013218  __fvuuMoEpA         23000         7        cat         present
1013219  __fvuuMoEpA         24000         7        cat         present
1013220  __fvuuMoEpA         25000         7        cat         present
1013221  __fvuuMoEpA         26000         7        cat         present
1013222  __fvuuMoEpA         27000         7        cat         present
1013223  __fvuuMoEpA         28000         7        cat         present
1013224  __fvuuMoEpA         29000         7        cat         present
1013225  __fvuuMoEpA         30000         7        cat         present
1013226  __fvuuMoEpA         31000         7        cat         present
1013227  __i0KvJ3m0U        268000         7        cat         present
1013228  __i0KvJ3m0U        269000         7        cat         present
1013229  __i0KvJ3m0U        270000         7        cat         present
1013230  __i0KvJ3m0U        271000         7        cat         present
1013231  __i0KvJ3m0U        272000         7        cat         present
1013232  __i0KvJ3m0U        273000         7        cat         present
1013233  __i0KvJ3m0U        274000         7        cat         present
1013234  __i0KvJ3m0U        275000         7        cat         present
1013235  __i0KvJ3m0U        276000         7        cat         present
1013236  __i0KvJ3m0U        277000         7        cat         present
1013237  __i0KvJ3m0U        278000         7        cat         present
1013238  __i0KvJ3m0U        279000         7        cat         present
1013239  __i0KvJ3m0U        280000         7        cat          absent
1013240  __i0KvJ3m0U        281000         7        cat          absent
1013241  __i0KvJ3m0U        282000         7        cat          absent
1013242  __i0KvJ3m0U        283000         7        cat          absent
1013243  __i0KvJ3m0U        284000         7        cat          absent
1013244  __i0KvJ3m0U        285000         7        cat          absent
1013245  __i0KvJ3m0U        286000         7        cat          absent

[1013246 rows x 5 columns]

       timestamp_ms      class_id
count  1.013246e+06  1.013246e+06
mean   1.410868e+05  8.844676e+00
std    2.089055e+05  7.103110e+00
min    0.000000e+00  0.000000e+00
25%    2.800000e+04  2.000000e+00
50%    7.500000e+04  7.000000e+00
75%    1.790000e+05  1.400000e+01
max    3.556000e+06  2.300000e+01

## 各種データについての確認

使用データセット:Youtube-BB Dataset  
ようつべにアップロードされている作品中で写っている物体とその動画IDとかその時間で物体が写っているかどうかが記録されている

### youtube_id - (string) 
the YouTube identifier of the video the segment was extracted from. One may view the selected video at [ http://youtu.be/${youtube_id} ].  
 →セグメントが抽出された動画のYouTube識別子

### timestamp_ms - (integer)   
the time in milliseconds of the classified frame in the video.  
→ビデオ内の分類されたフレームのミリ秒単位の時間

### class_id - (integer)  
a numeric identifier for the object class.  
→オブジェクトクラスの数値識別子

### class_name - (string)  
a human-readable name for the object class.  
→オブジェクト名

### object_presence - (string)  
whether or not the object is present in the frame ('present' or 'absent').  
→オブジェクトがフレーム内に存在するか否か（ 'present'または 'absent'）

# 各種データの確認、及び変換

## データ全体を確認

### 基礎統計

In [40]:
yt_train.describe()

       timestamp_ms      class_id
count  8.146143e+06  8.146143e+06
mean   1.437211e+05  8.929339e+00
std    2.126356e+05  7.062860e+00
min    0.000000e+00  0.000000e+00
25%    2.900000e+04  2.000000e+00
50%    7.600000e+04  8.000000e+00
75%    1.800000e+05  1.400000e+01
max    3.586000e+06  2.300000e+01

### 全体の欠損を確認

In [10]:
yt_train[yt_train.isnull().any(1)]

Empty DataFrame
Columns: [youtube_id, timestamp_ms, class_id, class_name, object_presence]
Index: []

### 全体のユニーク数を確認

In [11]:
yt_train.nunique()

youtube_id         253569
timestamp_ms         3587
class_id               24
class_name             24
object_presence         2
dtype: int64

### 相関係数

In [20]:
yt_train.corr()

              timestamp_ms  class_id
timestamp_ms      1.000000  0.043126
class_id          0.043126  1.000000

### 最頻値

In [44]:
yt_train.mode()

    youtube_id  timestamp_ms  class_id class_name object_presence
0  peFIHPWhmQI         15000         0     person         present

## youtube_idについて

### 各IDごとの情報  
- 各IDのデータ数(youtube_id,count)  
- 投稿動画の平均時間(timestamp_ms,mean)  
- 投稿動画の合計時間(timestamp_ms,sum)  
- class_idのユニーク数(class_id,nunique)

In [19]:
yt_train.groupby('youtube_id').agg({'youtube_id':'count','timestamp_ms':['mean','sum'],'class_id':'nunique'})

            youtube_id   timestamp_ms           class_id
                 count           mean       sum  nunique
youtube_id
--0bLFuriZ4         19   82000.000000   1558000        1
--2LyLmEaq8         38   52000.000000   1976000        1
--4VWx_0Sc4         19   37000.000000    703000        1
--4xkUrLgjA         17   53000.000000    901000        1
--4yByFm8j4         21   51000.000000   1071000        1
--7Jrp2urUc         19  382000.000000   7258000        1
--7KXqgihyw         19  127000.000000   2413000        1
--7L39R9NG0         19   52000.000000    988000        1
--A-XRFwRt8         19   52000.000000    988000        1
--AjlzHEFNs         95  124000.000000  11780000        1
--BYHGryxto         38  194500.000000   7391000        1
--C3bqX9Jkc         19  112000.000000   2128000        1
--Cjf3QfqrM         38   82000.000000   3116000        1
--FHxh1ERsw         19   52000.000000    988000        1
--GIJoTTE7I         17    8000.000000    136000        1
--Ga1bOJSFA         19   67000.000000   1273000        1
--Hz7PvSOgE         17    8000.000000    136000        1
--IABqeR5W8         16  215500.000000   3448000        1
--JnM0w4OJg         21  291000.000000   6111000        1
--K-vBvoijE         19  232000.000000   4408000        1
--L8nWczfVc         19  232000.000000   4408000        1
--LNyxygQM4         19  217000.000000   4123000        1
--Lj8J6fjE4         19   97000.000000   1843000        1
--SbJb0hBEw         15    7000.000000    105000        1
--UDkd9rw9g        136  237948.529412  32361000        1
--V5ErkiEfw         38   82000.000000   3116000        1
--VGxCfj8Z8         17    8000.000000    136000        1
--VhW6JDre4         17   21000.000000    357000        1
--VxF9iwB14         19   52000.000000    988000        1
--WVvN2e-KQ         17    8000.000000    136000        1
...                ...            ...       ...      ...
zzcXI6NbFIk         17    8000.000000    136000        1
zzcnI3OwsgU         19  112000.000000   2128000        1
zzeJQWC38nA         57  167000.000000   9519000        1
zzeXvLBKGkM         17    8000.000000    136000        1
zzg42i6tEIs         19   22000.000000    418000        1
zzglj-x9qjQ         21   81000.000000   1701000        1
zzii36HHYDk         19   67000.000000   1273000        1
zzinwr36iIw         19   97000.000000   1843000        1
zzjwC1cmTTc         38   82000.000000   3116000        1
zzknvqv9N9U         17    8000.000000    136000        1
zzljeIZDjM8         19   22000.000000    418000        1
zzmM4yg3w7I         19  172000.000000   3268000        1
zznH5zIHp7g         39  155974.358974   6083000        1
zznHTqy-Gzg         38  142000.000000   5396000        1
zznxwV0I1WU         39  146102.564103   5698000        1
zzo2TmreVWs         19   37000.000000    703000        1
zzqffExUc2o         19  172000.000000   3268000        1
zzrgrdnnfk0         17    8000.000000    136000        1
zzt4r6UZAR8         19   22000.000000    418000        1
zztLsRtdmhw         38  202000.000000   7676000        1
zzu6EMBj6Pg         16    7500.000000    120000        1
zzuK4Z5Wq5o         74   49594.594595   3670000        2
zzuufc_Jbrk         39   68410.256410   2668000        1
zzvZQEcA3Z0         19   97000.000000   1843000        1
zzvyhmCyu4M         19   37000.000000    703000        1
zzx7zdp2OaQ         19   52000.000000    988000        1
zzxSVJFyAuc         38   44500.000000   1691000        1
zzyHL0boiT8         21  321000.000000   6741000        1
zzygYUaxOUc         17    8000.000000    136000        1
zzyg_wpDZGA         17    8000.000000    136000        1

[253569 rows x 4 columns]

## timestamp_msについて

### 各動画時間についての情報   
- 動画時間ごとのデータ数(timestamp_ms,count)  
- 動画時間ごとの動画数(youtube_id,nunique)  
- 動画時間ごとのクラスIDのユニーク数(class_id,nunique)

In [38]:
yt_train.groupby('timestamp_ms').agg({'timestamp_ms':'count','youtube_id':'nunique','class_id':'nunique'})

              timestamp_ms  youtube_id  class_id
timestamp_ms
0                    73205       72581        24
1000                 73202       72578        24
2000                 73197       72573        24
3000                 73200       72576        24
4000                 73190       72566        24
5000                 73170       72546        24
6000                 73171       72547        24
7000                 73158       72534        24
8000                 73151       72527        24
9000                 73151       72527        24
10000                74452       73815        24
11000                75226       74584        24
12000                75970       75318        24
13000               117644      116501        24
14000               118397      117241        24
15000               118892      117731        24
16000               117446      116297        24
17000                47266       46863        24
18000                46815       46421        24
19000                46399       46011        24
20000                46052       45665        24
21000                46043       45656        24
22000                46050       45663        24
23000                46043       45656        24
24000                46041       45654        24
25000                46457       46064        24
26000                46844       46447        24
27000                47261       46861        24
28000                84633       83843        24
29000                84534       83745        24
...                    ...         ...       ...
3557000                  5           5         4
3558000                  5           5         4
3559000                  5           5         4
3560000                  5           5         4
3561000                  5           5         4
3562000                  5           5         4
3563000                  5           5         4
3564000                  5           5         4
3565000                  5           5         4
3566000                  5           5         4
3567000                  5           5         4
3568000                  7           7         4
3569000                  7           7         4
3570000                  8           8         5
3571000                  8           8         5
3572000                  3           3         3
3573000                  3           3         3
3574000                  3           3         3
3575000                  3           3         3
3576000                  3           3         3
3577000                  3           3         3
3578000                  3           3         3
3579000                  3           3         3
3580000                  3           3         3
3581000                  3           3         3
3582000                  3           3         3
3583000                  3           3         3
3584000                  3           3         3
3585000                  3           3         3
3586000                  3           3         3

[3587 rows x 3 columns]

## 各クラスIDについて

### class_idについての情報  
- 各クラスIDごとの作品数(class_id,count)  
- 各クラスIDごとの動画数(youtube_id,nunique)  
- 各クラスIDごとの平均・合計動画時間(timestamp_ms,mean/sum)

In [54]:
yt_train.groupby('class_id').agg({'class_id':'count','youtube_id':'nunique','timestamp_ms':['mean','sum']})

         class_id youtube_id   timestamp_ms
            count    nunique           mean           sum
class_id
0         1492159      61885  103155.591328  153924544000
1          381409       9328  112031.467532   42729810000
2          214522       4945  225164.761656   48302795000
3          309155       8793  143364.018049   44321703000
4          364935      11223  173456.651184   63300403000
5          315929       7137  151399.159305   47831385000
6          397821      13722  181212.904799   72090299000
7          577420      26439   91858.993454   53041220000
8           45893       1356  228907.676552   10505260000
9          203868       5633  231945.430377   47286251000
10         440894      10156  130347.326115   57469354000
11         280626      10269  132050.547704   37056817000
12         420445       8136  261922.058771  110123820000
13         324170       7545  192801.363482   62500418000
14         383612      11045  112313.118463   43084660000
15         321629       9668  130946.463161   42116180000
16         285699       8780  152847.251828   43668307000
17          25835        888  177345.616412    4581724000
18         178565       7646  131520.611542   23484978000
19         453509      12520   96237.702008   43644664000
20         286334       6352  187139.445543   53584386000
21         162848       5962  199482.677098   32485355000
22          20457       1225  177726.108423    3635743000
23         258409       8699  116105.491682   30002704000

## class_nameについて

### 各クラス名についての情報  
- 各クラス名ごとのクラスID(class_id,mid/nunique)
- 各クラス名ごとのデータ数(class_name,count)  
- 各クラス名ごとの投稿者数(youtube_id,nunique)  
- 各クラス名ごとの平均・合計動画時間(timestamp_ms,mean/sum)

In [61]:
yt_train.groupby('class_name').agg({'class_name':'count','class_id':['mean','nunique'],'youtube_id':'nunique','timestamp_ms':['mean','sum']})

             class_name class_id         youtube_id   timestamp_ms  \
                  count     mean nunique    nunique           mean
class_name
airplane         324170       13       1       7545  192801.363482
bear             315929        5       1       7137  151399.159305
bicycle          214522        2       1       4945  225164.761656
bird             381409        1       1       9328  112031.467532
boat             309155        3       1       8793  143364.018049
bus              364935        4       1      11223  173456.651184
car              258409       23       1       8699  116105.491682
cat              577420        7       1      26439   91858.993454
cow              397821        6       1      13722  181212.904799
dog              453509       19       1      12520   96237.702008
elephant         286334       20       1       6352  187139.445543
giraffe           45893        8       1       1356  228907.676552
horse            440894       10       1      10156  130347.326115
knife            420445       12       1       8136  261922.058771
motorcycle       280626       11       1      10269  132050.547704
none              20457       22       1       1225  177726.108423
person          1492159        0       1      61885  103155.591328
potted plant     203868        9       1       5633  231945.430377
skateboard       383612       14       1      11045  112313.118463
toilet           178565       18       1       7646  131520.611542
train            321629       15       1       9668  130946.463161
truck            285699       16       1       8780  152847.251828
umbrella         162848       21       1       5962  199482.677098
zebra             25835       17       1        888  177345.616412


                       sum
class_name
airplane       62500418000
bear           47831385000
bicycle        48302795000
bird           42729810000
boat           44321703000
bus            63300403000
car            30002704000
cat            53041220000
cow            72090299000
dog            43644664000
elephant       53584386000
giraffe        10505260000
horse          57469354000
knife         110123820000
motorcycle     37056817000
none            3635743000
person        153924544000
potted plant   47286251000
skateboard     43084660000
toilet         23484978000
train          42116180000
truck          43668307000
umbrella       32485355000
zebra           4581724000

## object_presenceについて

### オブジェクトの有無についての情報
- オブジェクトの有無によるデータ数の違い(object_presence,count)  
- オブジェクトの有無による動画数の違い(youtube_id,nunique)  
- オブジェクトの有無による動画時間の違い(timestamp_ms,mean/sum)  
- オブジェクトの有無によるクラスIDの種類数(class_id,nunique)

In [60]:
yt_train.groupby('object_presence').agg({'object_presence':'count','youtube_id':'nunique','timestamp_ms':['mean','sum'],'class_id':'nunique'})

                object_presence youtube_id   timestamp_ms                 \
                          count    nunique           mean            sum
object_presence
absent                   784166      98376  162372.450476   127326955000
present                 7361977     242320  141734.458692  1043445825000

                class_id
                 nunique
object_presence
absent                23
present               24

データ確認からのまとめ  
- 各要素の中で異常な値があるかを確認する

# 分析方針
冷静に考えてこのデータだけだと分析する価値ないわ(？)